* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  position: fixed;
  z-index: 99999;
  top: 0;
  height: 100px;
  width: 100%;
  background-color: rgb(40, 40, 41);
}

@media screen and (max-width: 1640px) {
  .header {
    height: 70px;
  }
}

.main__section-1 {
  margin-top: 100px;
  width: 100%;
  height: 1009px;
  display: flex;
}

.section-1__content {
  overflow: hidden;
  background-color: rgb(34, 34, 34);
  width: 1180px;
  position: relative;
}

.section-1__img {
  width: calc(100% - 1180px);
  height: 100%;
  overflow: hidden;
}

.section-1__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main__head {
  width: 783px;
  height: 58px;
  display: flex;
  justify-content: space-between;
  margin-left: 163px;
  padding-top: 30px;
}

.head__lorem {
  width: 256px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 36px;
  display: flex;
  align-items: center;
  color: rgb(255, 255, 255);
}

.head__container-texts {
  display: flex;
  align-items: center;
  gap: 29px;
  font-family: Arial, Helvetica, sans-serif;
}

.head__text-1,
.head__text-2,
.head__text-3 {
  font-style: italic;
  color: rgb(255, 255, 255);
}

.main__info {
  width: 784px;
  height: 777px;
  margin: 182px 0 0 162px;
  color: rgb(255, 255, 255);
}

.info-1 {
  width: 70%;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 80px;
  text-align: justify;
}

.info-1::first-line {
  font-size: 84.5px;
}

.info-2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 45px;
  margin: 60px 0 60px 0;
  width: 537px;
}

@media screen and (max-width: 1640px) {
  .main__section-1 {
    margin-top: 70px;
    height: 1009px;
  }

  .section-1__content {
    width: 100%;
  }

  .section-1__img {
    width: 100%;
    height: 100%;
  }

  .main__head {
    width: 100%;
    padding-top: 20px;
    margin-left: 0;
    justify-content: center;
  }

  .head__lorem {
    font-size: 28px;
  }

  .head__container-texts {
    flex-direction: column;
    gap: 15px;
  }

  .head__text-1,
  .head__text-2,
  .head__text-3 {
    font-size: 18px;
  }

  .main__info {
    width: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .main__section-1 {
    margin-top: 70px;
    flex-direction: column;
  }

  .section-1__content {
    width: 100%;
    height: 50%;
  }

  .section-1__img {
    width: 100%;
    height: 50%;
  }

  .main__head {
    text-align: center;
    margin-top: 20px;
  }

  .head__lorem {
    font-size: 24px;
  }

  .head__container-texts {
    gap: 10px;
  }

  .head__text-1,
  .head__text-2,
  .head__text-3 {
    font-size: 16px;
  }
}

@media screen and (max-width: 480px) {
  .main__section-1 {
    margin-top: 70px;
  }

  .main__head {
    text-align: center;
    margin-top: 20px;
  }

  .head__lorem {
    font-size: 20px;
  }

  .head__container-texts {
    gap: 10px;
  }

  .head__text-1,
  .head__text-2,
  .head__text-3 {
    font-size: 14px;
  }
}
